
.closesvg{
    height: 12px;
    width: 14px;
  }
.modalHeader{
    float: right;
    margin-right: 0;
}
   
.paper{
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    outline: none;
    min-width: 400px;
    padding: 3%;
    bottom: 16%;
    text-align: center;
    max-height: 450px;
    overflow-y: auto;
    margin: 10%;
    width: -webkit-fill-available;
    border-radius: 3px;
    height: fit-content;
    top: 25%;
  }
  .modalBody{
    margin: 6% 0 0 0;
    padding: 0 4% 0 4%;
  }
  .modalTitle{
    font: bold 16px Roboto;
    color: #666666;
  }
  .modalDescription{
    font: 14px Roboto;
    color: #666666;
  }
  
  @media(min-width: 767px){
    .paper{
      width: 400px;
      left: 33%; 
      margin: auto;
      bottom: 25%;
      height: fit-content;
      padding: 1%;
    }
    .modalTitle{
      font: bold 14px Roboto;
    }
    .modalDescription{
      font: 12px Roboto;
    }
  }